.odd:nth-child(odd) {
    background-color: white;
}
.even:nth-child(even) {
    background-color: black;
}
.odd:nth-child(odd) {
    background-color: black;
}
.even:nth-child(odd) {
    background-color: white;
}
table{
    cellpadding="200px" cellspacing="200px";
    background-color: white;
}
fieldset{
    background-color: black;
    width: 150px;
}
.1 {
    ba
}